<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<link rel="stylesheet" href="../css/StyleSheet.css">-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <hr>
</head>
<body class="w3-panel w3-border" >
<h1 ><%= title %></h1>

<form method = "post" class="w3-container"  >
    
	<input type="text" size="30" placeholder="Enter your user name" name="username"><br />
	<input type="password" size="30" placeholder="Enter your password" name="password"><br />
	<input type="submit" class="w3-button w3-green" value="Submit" name="submit"><br/>

</form>
    <hr>
</body>
</html>